mat-drawer-container{
    height: 100vh;
}
mat-drawer{
    width: 84%;
    @media(min-width: 45em){
        width: 50%;
    }

    @media(min-width: 62em){
        width: 25%;
    }
    @media(min-width: 75em){
        width: 20%;
    }
    @media(min-width: 95em){
        width: 15%;
    }
}
mat-drawer-content::after {
    content: "";
    background: url("/assets/img/banner-main.svg") no-repeat right bottom;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
img{
    height: 95%;
    border-radius: 50%;
}
h3, img{
    position: relative;
    margin-top: 3em;
}
h4{
    font-size: 0.75em;
}
mat-nav-list{
    padding: 1.5em 0.5em
}
mat-nav-list a{
    margin-bottom: 0.5em;
    &:last-child{
        margin-bottom: 0;
    }
    &.--active{
        background: #816afc1a;
        border-radius: 5px;
        color: #816afc;
    }
}
mat-nav-list mat-icon{
    margin-right: 1em;
}