<mat-drawer-container class="example-container">
    <mat-drawer [mode]="isMobile.matches ? 'over' : 'side'" [opened]="isMobile.matches">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <img src="assets/img/avatar.png" alt="Usuário">
            </mat-toolbar-row>
            <mat-toolbar-row>
                <h3>Thiago Saldanha</h3>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <h4>Cliente</h4>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="..." *ngFor="let link of menu"> 
                <mat-icon>{{link.icon}}</mat-icon>
                {{ link.title }}
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>    
    </mat-drawer-content>
</mat-drawer-container>