<mat-drawer-container [autosize]="true" #matDrawerContainer class="example-container">
    <mat-drawer #matDrawer [mode]="isMobile.matches ? 'over' : 'side'" [opened]="sidenav.isOpened || !isMobile.matches">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <img src="assets/img/avatar.png" alt="Usuário">
            </mat-toolbar-row>
            <mat-toolbar-row>
                <h3>{{user?.name | showName}}</h3>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <h4>Cliente</h4>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-nav-list>
            <a class="mat-primary" mat-list-item *ngFor="let link of menu" [routerLink]="link.router" 
                routerLinkActive="--active"> 
                <mat-icon>{{link.icon}}</mat-icon>
                {{ link.title }}
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>    
    </mat-drawer-content>
</mat-drawer-container>