a.delete{
    margin-left: auto;
}
@media(min-width: 70em){
    h3{
        padding-right: 1em;
    }       
    mat-toolbar button.back{
        margin-right: 1em;
    }
}
mat-list {
    padding: 1.2em 0;
    mat-icon, h4, p{
        color: #323232;
    }
    mat-list-item{
        box-sizing: border-box;
        padding-left: 0.5em; 
        h4{
            margin-bottom: 0.5em;
        }
    }
}