
<ng-template class="sample-quantitative" #dialogTemplate>
  <mat-toolbar color="primary">
    <a [disabled]="isLoading" mat-icon-button title="Cancelar para visualização do usuário"
     class="back" (click)="isLoading ? '' : dialogRef.close(0)" matTooltip="Editar cliente">
      <mat-icon>close</mat-icon>
    </a>
    <h3>Edição de Cliente</h3>
    <button mat-flat-button  [disabled]="!form.value" title="Salvar modificações"  
        class="save" (click)="save()" matTooltip="Editar cliente">
      SALVAR
    </button>
  </mat-toolbar>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <form (ngSubmit)="save()" [formGroup]="form">
      <mat-form-field appearance="outline">
          <input matInput formControlName="name" type="text" maxlength="50" 
              placeholder="Informe o nome">
          <mat-label>Nome</mat-label>
          <mat-error *ngIf="form.get('name').invalid">
              {{form.get('name').errors | feedbackErrorInput}}
          </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
          <input matInput formControlName="email" type="email" maxlength="50" 
              placeholder="Informe o endereço de e-mail">
          <mat-label>E-mail</mat-label>
          <mat-error *ngIf="form.get('email').invalid">
              {{form.get('email').errors | feedbackErrorInput}}
          </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
          <input matInput formControlName="password" [type]="isPasswordHide ? 'password' : 'text'" 
                  placeholder="Informe a senha da conta" maxlength="50">
          <mat-label>Senha</mat-label>
          <button matSuffix mat-icon-button [title]="isPasswordHide ? 'Mostrar senha' : 'Esconder senha'" 
              type="button" (click)="isPasswordHide = !isPasswordHide">
              <mat-icon>{{isPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('password').invalid">
              {{form.get('password').errors | feedbackErrorInput}}
          </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
          <input matInput formControlName="phone" type="telefone" maxlength="50" 
              placeholder="Informe o telefone">
          <mat-label>Telefone</mat-label>
          <mat-error *ngIf="form.get('phone').invalid">
              {{form.get('phone').errors | feedbackErrorInput}}
          </mat-error>
      </mat-form-field>
  </form>
</ng-template>