<h1><img src="assets/img/logo.svg" alt="Logo da GR1D"></h1>
<form (ngSubmit)="login()" [formGroup]="form">
    <mat-form-field appearance="fill">
        <input matInput formControlName="email" type="email" 
            placeholder="Informe o seu endereço de e-mail">
        <mat-icon matPrefix>account_circle</mat-icon>
        <mat-label>E-mail</mat-label>
        <mat-error *ngIf="form.get('email').invalid">
            {{form.get('email').errors | feedbackErrorInput}}
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <input matInput formControlName="password" [type]="isPasswordHide ? 'password' : 'text'" 
                placeholder="Informe a senha da sua conta" max="50">
        <mat-label>Senha</mat-label>
        <mat-icon matPrefix>fingerprint</mat-icon>
        <mat-icon matSuffix (click)="isPasswordHide = !isPasswordHide">{{isPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="form.get('password').invalid">
            {{form.get('password').errors | feedbackErrorInput}}
        </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">ENTRAR</button>
</form>