:host{
    display: flex;
    flex-flow: column;
    @media(min-width: 62em){
        width: 80%;
        margin: 0 auto;
        height: 100%;
        justify-content: center;
        mat-toolbar {
            position: static;
            border-radius: 5px 3px 0 0;
        }
        mat-toolbar, mat-list, mat-form-field{
            box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        }
        mat-toolbar button.menu{
            display: none;
        }
        mat-list{
            height: 60vh;
            min-height: auto;
            padding: 0.7em 0 0;
            overflow: auto;
        }
    }

    @media(min-width: 80em){
        width:55%;
    }
}
mat-toolbar{
    position: sticky;
    position: -webkit-sticky;
    top: 0; 
    z-index: 1000;
}
mat-toolbar{ 
    button.menu{
        margin-right: 1em;
    }
    a.search{
        margin-left: auto;
    }
}
mat-list{
    padding: 1em 0 5em;
    min-height: calc(100vh - 100px);
    background-color: white;
    &.isSearching{
        position: relative;
        margin-top: -1.5em;
    }
}
a[mat-list-item]{
    color: #323232;
    border-bottom: 1px solid #e3e3e3;
    &:last-child{
        border-bottom: none;
    }
}
mat-list mat-icon{
    margin-left: auto;
}
a[mat-fab]{
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 20;
    @media(min-width: 80em){
        bottom: 3.5em;
        right: 3.5em;
    }
}
.searchUser{
    input{
        color: white;
    }
    background: white;
    button:first-child{
        margin-right: 0.5em;
        position: relative;
        bottom: 0.15em;
    }
    input{
        position: relative;
        bottom: 0.5em;
    }
}